/* ========================== FONT ========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');


/* ========================== RESET ========================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* ========================== EXTRA CLASSES ========================== */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000000b7;
}

.container {
    margin: 0px 10%;
}

.btn, .btn-top {
    background-color: #e55473;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
}

.btn:hover, .btn-top:hover {
    background-color: #e4375c;
}

.highlight {
    color: #e55473;
    font-size: 1.5rem;
    font-weight: 800;
}

.bg-pink {
    background-color: #fceef1;
}

.text-gray {
    color: gray;
}

.text-small {
    font-size: 13px;
}


/* ========================== HEADER SECTION ========================== */
#header-main {
    border-bottom: 1px solid #0000001a;
}

.logo img {
    height: 20px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 800;
}

#nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav .menu-items {
    display: flex;
    gap: 20px;
}

nav li .dropdown {
    display: none;
    background-color: #f4f4f4;
    position: absolute;
    padding: 10px 30px 0 30px;
    box-shadow: 5px 5px 10px #00000054;
    border-top: 1px solid #0000001a;
    margin-top: 10px;
}

nav li:hover .dropdown {
    display: block;
    border-top: 1px solid #0000001a;
}

.dropdown li {
    margin-bottom: 10px;
}

/* ========================== MAIN SECTION ========================== */
.top-section {
    margin-bottom: 100px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 2.8rem;
    color: #272727;
}

.flower-img {
    width: 50%;
    height: 400px;
    padding-top: 30px;
}

.flower-img img {
    height: 100%;
}

.hero-text > h1, .hero-text > p {
    margin-bottom: 20px;
}


/* FEATURED */
.featured .featured-text {
    text-align: center;
}

.featured {
    margin-bottom: 100px;
}

.featured-flowers {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.featured-text h2 {
    margin-bottom: 10px;
}

.flower__1, .flower__2, .flower__3 {
    width: 300px;
    height: 350px;
    border-radius: 50% 50% 0 0;
}

.flower__1 img, .flower__2 img, .flower__3 img {
    width: 100%;
    height: 100%;
    padding: 40px 20px 0px;
}

.flower__1 {
    background-color: #f1dde7;
}

.flower__2 {
    background-color: #d9eff0;
}

.flower__3 {
    background-color: #e3ebdb;
}

.flower-link {
    text-decoration: underline;
    font-weight: 700;
    color: rgb(77, 77, 77);
}


/* SERVICES */
.services {
    margin-bottom: 100px;
}

.boxes {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 50px 0px;
    border-radius: 5px;
}

.boxes .box {
    text-align: center;
}


/* DEALS */
.hot-deals {
    background-color: #fdf6f8;
    margin-bottom: 100px;
}

.deal {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.deal-info {
    width: 50%;
}

.deal-info > h1, .deal-info > p {
    margin-bottom: 20px;
}

.deal-img {
    width: 50%;
    height: 250px;
}

.deal-img img {
    height: 100%;
}


/* SOCIAL */
.social {
    margin-bottom: 100px;
}
.social-text {
    text-align: center;
    margin: 0 30%;
}

.social-text h2 {
    margin-bottom: 10px;
}

.social-flowers {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.social-flower {
    height: 350px;
    width: 350px;
}

.social-flower img {
    width: 100%;
    height: 100%;
}


/* NEWSLETTER */
.subscribe {
    height: 300px;
    width: 100%;
    margin-bottom: 100px;
    border-radius: 5px;
    background-image: url("../img/Rectangle-9.png");
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-form {
    margin-top: 20px;
}

.sub-form input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 40%;
    margin-right: 10px;
    color: gray;
}

.sub-form input:hover, .sub-form input:focus, .sub-form input:active {
    border: none;
    outline: none;
}


/* ========================== FOOTER AREA ========================== */
#footer-main {
    background-color: #111010;
    padding: 100px 0;
    color: #fff;
    text-align: center;
}

.footer-contents {
    margin: 0 30%;
}